.navbar {
	position: fixed;
    display: none;
}
#sidenav {
    right: 0;
    position: fixed;
    height: 100%;
    width: 0%;
    color: black;

}
#sidenav li {
    display: block;
    margin: 10px;

}
#sidenav-toggle{
	left: 90%;
}

@media screen and (max-height: 320px) {
    .navbar {display: none;}
    #sidenav-toggle {
	display: block;
}

}
