*{
    margin: 0;
    padding: 0;
}
section {
    padding-top: 50px;
}
.display {
	display: none;
}

body {
    background-color:dimgray;
}
#sidenav-trigger {
    display: none;
    position: fixed;
    top:0;
    margin-top: 10px;
	left:95%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right : 0;
    background-color:black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}

.jumbotron {
	border-radius: 25px;
    background-color: 	rgba(255,255,255,0.5);
}
@media only screen and (max-width: 430px) {
    #navbar {
	display: none;
}
    #sidenav-trigger{
        display: block;
    }
}
}
