*{
    margin: 0;
    padding: 0;
}
section {
    padding-top: 50px;
}
.display {
	display: none;
}

body {
    background-image: url(/images/slovenia-2209810_1920.jpg);
    height: 100%;
}
.jumbotron {
	border-radius: 25px;
    background-color: 	rgba(255,255,255,0.5);
}
